/*Import google front*/
@import url("https://fonts.googleapis.com/css2?family=Cambay&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Carter+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Knewave&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cinzel&family=Oswald:wght@700&display=swap");
/*Import scss*/
body {
  background: linear-gradient(220.55deg, #020024 0%, #ff7b00 0%, #00d4ff 100%);
}

/*Imagenes*/
img {
  width: 100%;
  height: 100%;
}

ul {
  list-style: none;
  background-image: none;
  background-color: black;
  border: 4px solid white;
  height: 50px;
  align-items: center;
  display: flex;
  justify-content: space-around;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  opacity: 0.7;
}

a {
  font-size: 20px;
  text-decoration: none;
  font-family: "Oswald", sans-serif;
  background-color: none;
  color: #FFF;
}

li {
  background-color: none;
  color: #FFF;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -o-border-radius: 20px;
}

/*H1*/
h1 {
  font-family: cursive;
  text-align: center;
}

p {
  font-size: 15px;
  text-align: center;
  color: #212121;
  font-family: "Cinzel", serif;
  font-family: "Oswald", sans-serif;
}

h2 {
  text-align: center;
  text-transform: uppercase;
  font-family: "Carter One", cursive;
}

.flex-container {
  display: grid;
  grid-template-columns: 30% 40% auto;
  grid-template-rows: auto auto auto;
  gap: 5px;
  object-fit: contain;
}

.imagen-uno {
  grid-column: 1/2;
  grid-row: 1/4;
  border: 5px solid black;
}

.imagen-dos {
  grid-column: 2/3;
  grid-row: 1/4;
  border: 5px solid black;
}

.imagen-tres {
  grid-column: 3/4;
  grid-row: 1/4;
  border: 5px solid black;
}

.product-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5px;
  margin: auto;
  padding: 5px;
  border: 5px solid black;
}

.icon-cart {
  width: 30px;
}

.icon-container {
  display: flex;
  justify-content: end;
}

.product__div-container-uno {
  grid-column: 1/2;
  grid-row: 1/2;
  border: 5px solid black;
}

.product__div-container-dos {
  grid-column: 2/3;
  grid-row: 1/2;
  border: 5px solid black;
}

.product__div-container-tres {
  grid-column: 3/4;
  grid-row: 1/2;
  border: 5px solid black;
}

.product__div-container-cuatro {
  grid-column: 1/2;
  grid-row: 2/3;
  border: 5px solid black;
}

.product__div-container-cinco {
  grid-column: 2/3;
  grid-row: 2/3;
  border: 5px solid black;
}

.product__div-container-seis {
  grid-column: 3/4;
  grid-row: 2/3;
  border: 5px solid black;
}

section button {
  display: flex;
  justify-content: center;
  margin: auto;
  background: none;
  border: none;
  background-color: black;
  color: antiquewhite;
  padding: 15px;
}

section p {
  text-align: center;
}

.carousel-item {
  height: 800px;
  object-fit: contain;
  border: 3px solid white;
}

.imagenes-generales {
  width: 50%;
  display: block;
  margin: auto;
  border: 10px solid black;
}

.subtitulos {
  text-align: center;
  text-decoration: underline;
  color: brown;
  font-style: oblique;
  font-weight: bold;
}

/*Comienzo de Estilos CSS*/
* {
  margin: 0;
  padding: 10px;
}

/*Logo*/
#logo {
  width: 12%;
  display: block;
  margin: auto;
  padding: 5px;
}

/*Comienzo de media querys*/
@media all and (max-width: 800px) {
  ul {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .imagenes-generales {
    display: block;
    margin-block-start: auto;
  }
}

/*# sourceMappingURL=style.css.map */
