.imagenes-generales {
    width: 50%;
    display: block;
    margin: auto;
    border: 10px solid black; 
}


.subtitulos {
    text-align: center;
    text-decoration:underline;
    color: brown ;
    font-style: oblique;
    font-weight: bold;  
}