


.texto-tour {
    color: #c91190;
    border: 10px solid black;
    border-style: groove;
    border-radius: 10px;
    font-weight: bold;
    font-size: 30px;
}

.imagen-tour {
    width: 100%;
    border-radius: 5px;
    border: 5px solid black;
    margin: 5px;
}