    
    
    
    /*Import google front*/
    @import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
    @import url('https://fonts.googleapis.com/css2?family=Cambay&display=swap');
     @import url('https://fonts.googleapis.com/css2?family=Carter+One&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Knewave&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Oswald:wght@700&display=swap');
  
    /*Import scss*/
    @import "estilos-generales";
    @import "clases-index";
    @import "clases-shop";
    @import "clases-integrantes";
    @import "clases-historia";
    @import "mapas";
    @import "variables";
    


  

/*Comienzo de Estilos CSS*/
* {
    margin: 0;
    padding: 0;
}

/*Logo*/
#logo {
    
    width: 12% ;
    display: block;
    margin: auto;
    padding: 10px;
}




/*Comienzo de media querys*/


@media screen and (max-width: 800px) { 

    .imagenes-generales {
        display: flex;
        
    } 
}