
  @import url('https://fonts.googleapis.com/css2?family=Cambay&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Carter+One&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Knewave&display=swap');
  

  @media screen and (max-width: 800px) { 
    ul {
        display: flex;
        flex-direction: column;
        width: 100%;  
    }

    .imagenes-generales {
        display: block;
        margin-block-start: auto;
    }
  }

    #logo {
        display: block;
        margin-block-start: auto;
    }


    /*Comienzo de Estilos CSS*/
* {
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(220.55deg, #D0004B 0%, #88069D 100%);}
 /*Imagenes*/
img {
    width: 100%;
    height: 100%;
}

/*Logo*/
#logo {
    width: 10% ;
    display: block;
    margin: auto;
    padding: 5px;
}

/*Listas*/
ul {
    background-image: none;
    background-color: black;
    border-width: 5px;
    border-style: solid;
    display:flex;
    justify-content: space-around;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;   
}

a {
    background-color: #1B191B;
    color: #FFF;
}

li {
    background-color: #1B191B;
     color: #FFF;
     border-radius: 20px;
     -webkit-border-radius: 20px;
     -moz-border-radius: 20px;
     -o-border-radius: 20px;
}

/*H1*/
h1 {
    font-family: cursive;
    text-align: center;
}


.imagenes-generales {
    width: 50%;
    display: block;
    margin: auto;
    border: 10px solid black; 
}


.subtitulos {
    text-align: center;
    text-decoration:underline;
    color: brown ;
    font-style: oblique;
    font-weight: bold;  
}

p {
    color: #212121 ;
    font-family: 'Knewave', cursive;
}

h2 {
    text-align: center;
    text-transform: uppercase;
    font-family: 'Carter One', cursive;
}

/*Imagenes inicio*/

.flex-container {
    display: grid;
    grid-template-columns: 30% 40% auto;
    grid-template-rows: 200px 200px 200px;
    gap: 5px;
    object-fit: contain;
}


.imagen-uno {
    grid-column: 1/2;
    grid-row: 1/4;
}

.imagen-dos {
  grid-column: 2/3;
  grid-row: 1/4;
}

.imagen-tres {
    grid-column: 3/4;
    grid-row: 1/4;
}

/*carousel*/

.carousel-item {
  height: 800px;
  object-fit: contain;
  border: 3px solid white;
}





/*Shop*/

.product-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
     gap: 5px;
     margin: auto;
     padding: 5px;
     border: 5px solid black;
}

.icon-cart {
    width: 30px;
}

.icon-container {
    display: flex;
    justify-content: end;
}


.product__div-container-uno {
    grid-column: 1/2;
    grid-row: 1/2;
    border: 5px solid black;
}

.product__div-container-dos {
    grid-column: 2/3;
    grid-row: 1/2;
    border: 5px solid black;
  
}

.product__div-container-tres {
    grid-column: 3/4;
    grid-row: 1/2;
    border: 5px solid black;
  
}

.product__div-container-cuatro {
    grid-column: 1/2;
    grid-row: 2/3;
    border: 5px solid black;
    
}

.product__div-container-cinco {
    grid-column: 2/3;
    grid-row: 2/3;
    border: 5px solid black;
}

.product__div-container-seis {
    grid-column: 3/4;
    grid-row: 2/3;
    border: 5px solid black;
}


section button {
        display: flex;
        justify-content: center;
        margin: auto;
        background: none;
        border: none;
        background-color: black;
        color: antiquewhite;
        padding: 15px;
}

section p {
    text-align: center;
}
    
